@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body{
    background-color: black;
}

.header{
    
    text-align: center;
    color :  rgb(229,9,20);
    font-size: 75px;
    font-family:'Bebas Neue', cursive;
    height: 80px;
}

.sciencefiction{
    color:aliceblue;
    font-family: "Babes Neue";
    font-size: 20px;
} 
.catagorys{
    color: aliceblue;
    font-family: "Babes Neue";
    font-size: 20px;
    
}
a:visited{
    color: aliceblue;
}
h2{color:white;
}
#Transformers_foto{position:absolute;
top: 210px;
left:290px;
}
#Matrix_foto{position:absolute;
top:210px;
left:575px;
}

#Yüzüklerin_efendisi{position: absolute;
top: 210px;
left:860px;
}

#Yıldızlararası_foto{position: absolute;
top:210px;
left:1145px;
}

#yenialt_başlık2{color:white
}

#ölümcül_labirent{position:absolute;
top:150px;}


#Arınma_gecesi{position:absolute;
top: 632px;
left:290px;
}
#savaş{position: absolute;
top:632px;
left:570px;
}

#Ölüm_defteri{position:absolute;
top:632px;
left:863px;
}
#Kızıl_Gökler{position:absolute;
top:632px;
left:1150px;
}
#yenialt_başlık3{color:white;
}
#Terminal_foto{position: absolute;
top: 1050px;
}
#HerŞeyin_Teorisi{position:absolute;
top: 1050px;
left:297px;
}
#AşkTesadüfleri_Sever2{position: absolute;
top: 1050px;
left:584px;
}
#Geçen_Yaz{position: absolute;
top: 1050px;
left:869px;
}
#Before_Midnight{position:absolute;
top: 1050px;
left:1156px;
}
#yenialt_başlık4{color:white;
    position: absolute;
    top:1420px;
}
#John_Wick{position:absolute;
top:1500px;
}
#Tom{position: absolute;
top: 1500px;
left:297px;
}
#Spiderman{position: absolute;
top: 1500px;
left:580px;
}
#Aquaman{position: absolute;
top: 1500px;
left:865px;
}
#Sherlock{position:absolute;
top: 1500px;
left:1155px;
}
#yenialt_başlık5{position: absolute;
top:1870px;
}
#fantastik{position:absolute;
top:1950px;
}
#noel{position:absolute;
top:1950px;
left:300px;
}
#kahramanlık{position:absolute;
top:1950px;
left:590px;
}
#sihir{position:absolute;
top:1950px;
left:880px;
}
#çiko{position:absolute;
top:1950px;
left:1170px;
}